@import "tailwindcss";
@plugin "daisyui";

body {
    background-color: #03346e;
}
.blue-1 {
    background-color: #0b2447;
}
.blue-2 {
    background-color: #03346e;
}
.scroll-hidden {
    scrollbar-width: none;
}
